script(type='text/javascript').
    var chat_id ="#{id}"; var localUser = "#{user.username}";

div.titleContainer
    div.row.ep-row
        div.still-col
            if ep.still !== "/img/nostill.jpg"
                img.ep-still(src="#{ep.still}")
        div.col-xs-10.desc-col
            p.ep-desc= ep.show + " S" + ep.season + "E" + ep.episode + ": " + ep.title
        div.col-xs-2.fav-col
            a.favourite(href="/api/favourites/#{id}")
                if favourite == '1'
                    i.fa.fa-heart.active
                else
                    i.fa.fa-heart


div#content

script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js")
script(src="/socket.io/socket.io.js")
script(type="text/babel" src="/scripts/chat.js")

